<div class="appointment-form">
  <h3>Zakazivanje pregleda</h3>
  <form (ngSubmit)="submitAppointment()">
    <label for="patient">Pacijent:</label>
    <select id="patient" [(ngModel)]="selectedPatient" name="patient" required>
      <option *ngFor="let patient of patients" [value]="patient.id">
        {{ patient.name }}
      </option>
    </select>

    <label for="datum">Datum:</label>
    <input id="datum" type="date" [(ngModel)]="newAppointment.datum" name="datum" required [min]="tomorrow"
      [ngClass]="{ 'disabled-day': isDayDisabled(newAppointment.datum) }"
      (change)="loadAvailableTimeSlots(dentistId, newAppointment.datum)" />

    <label for="vreme">Vreme:</label>

    <select id="vreme" [(ngModel)]="newAppointment.vreme" name="vreme" required>
      <option *ngFor="let timeSlot of availableTimeSlots" [value]="timeSlot">
        {{ timeSlot }}
      </option>
    </select>

    <label for="opis">Opis:</label>
    <textarea id="opis" [(ngModel)]="newAppointment.opis" name="opis" required></textarea>

    <button type="submit" [disabled]="isDayDisabled(newAppointment.datum)">Zakazi</button>
    <button type="button" (click)="resetForm()">Odustani</button>
  </form>
  <!-- <div *ngIf="daysOff.length > 0" class="day-off-list">
    <h3>Neradni dani:</h3>
    <ul>
      <li *ngFor="let day of daysOff">{{ day }}</li>
    </ul>
  </div> -->
</div>