.prvi{
  display: flex;
  flex-direction: row;
}
.profile-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 5px;
  flex-shrink: 0;
}


.profile-container h2 {
  text-align: center;
}

.profile-container p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.profile-container h3 {
  margin-top: 20px;
}

.loading {
  text-align: center;
  font-size: 18px;
  padding: 20px;
}

.patient-profile {
  max-width: 600px;
  margin: 0 auto;
}

.error{
  background-color: red;
}

.profile-image {
  margin-bottom: 15px;
}

.patient-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}

button {
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  width: 230px;
  display: inline-block
}


button:hover {
  background-color: #0056b3;
}

button:active {
  transform: scale(0.98);
}
button.error {
  background-color: #dc3545;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.edit-icon {
  cursor: pointer;
  margin-left: 10px;
  color: #007bff;
}

.edit-icon:hover {
  color: #0056b3;
}

.custom-edit-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background-color: #f0f0f0;
  color: #555;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-edit-button:hover {
  background-color: #e0e0e0;
  color: #000;
}

.custom-edit-button:active {
  background-color: #ccc;
}

.custom-edit-button i {
  font-style: normal;
  font-size: 18px;
}


.payment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10px;
}

.payment-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.payment-form input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#card-element {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#card-element:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.StripeElement--invalid {
  border-color: #f44336;
  background-color: #fff1f1;
}

.StripeElement--valid {
  border-color: #4caf50;
  background-color: #f1fff1;
}

