<div *ngIf="showProfile">
  <div class="profile-container" *ngIf="patient">
    <h2>Profil pacijenta</h2>
    <div class="profile-image">
      <div *ngIf="patient.slika">
        <img (click)="triggerFileInput()" [src]="getImageUrl(patient.slika)" alt="Profilna slika" class="patient-image" />

        <!-- <button (click)="triggerFileInput()">Promeni sliku</button> -->
      </div>
      <div *ngIf="!patient.slika">
        <p>Nema dostupne slike.</p>
        <button (click)="triggerFileInput()">Dodaj sliku</button>
      </div>
      <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" style="display: none;" />
    </div>
    
    <p><strong>Ime:</strong> {{ patient.ime }}</p>
    <p><strong>Prezime:</strong> {{ patient.prezime }}</p>
    <p><strong>Adresa:</strong> {{ patient.adresa }}</p>
    <p><strong>Broj Telefona:</strong> {{ patient.brojTelefona }}</p>
    <p><strong>Email:</strong> {{ patient.email }}</p>

    <button (click)="toggleHistory()">Prikaži Istoriju Pregleda</button>
    <button (click)="toggleDentists()">Prikaži stomatologe</button>
  </div>
</div>
<div *ngIf="showHistory">
  <button (click)="toggleHistory()">Prikaži profil</button>
  <app-patient-appointments [appointmentIds]="patient.istorijaPregleda" (appointmentsUpdated)="onAppointmentsUpdated($event)"></app-patient-appointments>
</div>
<div *ngIf="showDentists">
  <button (click)="toggleDentists()">Prikaži profil</button>
  <app-schedule-appointment *ngIf="patient?.id" [patientId]="patient!.id"
    (appointmentScheduled)="refreshPregledList()"></app-schedule-appointment>
</div>

