
html, body { height: 100%;  transform: scale(0.85);
  transform-origin: top left;
  width: 117.65%; 
  height: 100%;
  margin: 0; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html {
    overflow-x: hidden;
    overflow-y: auto;
  }


