<!-- <nav class="navbar">
  <h3>STOMATOLOSKA ORDINACIJA</h3>
  <a *ngIf="!isAdmin" routerLink="/home" class="navbar-link">Početna</a>
  <a *ngIf="isAdmin" routerLink="/dentist-management" class="navbar-link">Prikazi stomatologe</a>
  <a *ngIf="isAdmin" routerLink="/patient-management" class="navbar-link">Prikazi pacijente</a>
  <a *ngIf="isAdmin" routerLink="/interventions-management" class="navbar-link">Prikazi intervencije</a>
  <a *ngIf="isLoggedIn()&&!isAdmin" [routerLink]="getProfileLink()" class="navbar-link">Moj Profil</a>
  <a *ngIf="!isLoggedIn()" routerLink="/login" class="navbar-link">Prijava</a>
  <a *ngIf="isLoggedIn()" routerLink="/home" (click)="logout()" class="navbar-link">Logout</a>
  <a *ngIf="!isLoggedIn()" routerLink="/register-patient" class="navbar-link">Registracija </a>
</nav> -->

<div [ngClass]="{'navbar-disabled': hidden}">
   

<div class="container-fluid bg-light ps-5 pe-0 d-none d-lg-block">
  <div class="row gx-0">
      <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
          <div class="d-inline-flex align-items-center">
              <small class="py-2"><i class="far fa-clock text-primary me-2"></i>Opening Hours: Mon - Tues : 6.00 am - 10.00 pm, Sunday Closed </small>
          </div>
      </div>
      <div class="col-md-6 text-center text-lg-end">
          <div class="position-relative d-inline-flex align-items-center bg-primary text-white top-shape px-5">
              <!-- <div class="me-3 pe-3 border-end py-2">
                  <p class="m-0"><i class="fa fa-envelope-open me-2"></i>infoexample.com</p>
              </div>
              <div class="py-2">
                  <p class="m-0"><i class="fa fa-phone-alt me-2"></i>+012 345 6789</p>
              </div> -->
          </div>
      </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
  <a href="index.html" class="navbar-brand p-0">
      <h2 class="m-0 text-primary"><i class="fa fa-tooth me-2"></i>DentalClinic</h2>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-0">
          <a *ngIf="!isAdmin" routerLink="/home" routerLinkActive="active" class="nav-item nav-link">POČETNA</a>
          <a *ngIf="!isAdmin" routerLink="/contact" routerLinkActive="active" class="nav-item nav-link">KONTAKT</a>
          <a *ngIf="!isLoggedIn()||isPatient" routerLink="/show-dentist" routerLinkActive="active" class="nav-item nav-link">PRIKAZI STOMATOLOGE</a>
          <a *ngIf="isAdmin" routerLink="/dentist-management" routerLinkActive="active" class="nav-item nav-link">PRIKAZI STOMATOLOGE</a>
          <a *ngIf="isAdmin" routerLink="/patient-management" routerLinkActive="active" class="nav-item nav-link">PRIKAZI PACIJENTE</a>
          <a *ngIf="isAdmin" routerLink="/interventions-management" routerLinkActive="active" class="nav-item nav-link">PRIKAZI INTERVENCIJE</a>
          <a *ngIf="isLoggedIn() && !isAdmin" [routerLink]="getProfileLink()" routerLinkActive="active" class="nav-item nav-link">MOJ PROFIL</a>
          <a *ngIf="!isLoggedIn()" routerLink="/login" routerLinkActive="active" class="nav-item nav-link">PRIJAVA</a>
          <a *ngIf="isLoggedIn()"  (click)="logout()" routerLinkActive="active" class="nav-item nav-link">ODJAVA</a>
          <a *ngIf="!isLoggedIn()" routerLink="/register-patient" routerLinkActive="active" class="nav-item nav-link">REGISTRACIJA</a>
     
      </div>
      <button type="button" class="btn text-dark" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></button>
      <a *ngIf="isPatient" routerLink="/patient-schedule" class="btn btn-primary py-2 px-4 ms-3">Zakazi pregled</a>
  </div>
</nav>
    
</div>