<div class="profile-container">
  <h2>Profil stomatologa</h2>
  <div class="profile-image" *ngIf="dentist">
    <div *ngIf="dentist.slika">
      <img (click)="triggerFileInput()" [src]="getImageUrl(dentist.slika)" alt="Profilna slika" class="dentist-image" />
      <!-- <button (click)="triggerFileInput()">Promeni sliku</button> -->
    </div>
    <div *ngIf="!dentist.slika">
      <p>Nema dostupne slike.</p>
      <button (click)="triggerFileInput()">Dodaj sliku</button>
    </div>
    <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" style="display: none" />
  </div>
  <div *ngIf="dentist">
    <p><strong>Ime:</strong> {{ dentist.ime }}</p>
    <p><strong>Prezime:</strong> {{ dentist.prezime }}</p>
    <p><strong>Adresa:</strong> {{ dentist.adresa }}</p>
    <p><strong>Broj Telefona:</strong> {{ dentist.brojTelefona }}</p>
    <p><strong>Email:</strong> {{ dentist.email }}</p>

  </div>
  <button (click)="toggleDayOffForm()">Dodaj slobodan dan</button> <br/>
  <button (click)="toggleAppointmentForm()">Zakazi pregled</button>
  <p *ngIf="dentist">Vasa trenutna smena je{{ getDentistShift(dentist.prvaSmena)}}</p>
  <button (click)="changeShift(dentist.id)">Promeni smenu</button>
  <!-- <button (click)="toggleAppointmentsHistory()">Prikaži preglede</button> -->

</div>
<div *ngIf="showDayOffForm" class="day-off-form">
  <label for="datum">Datum:</label>
  <input type="date" id="datum" [(ngModel)]="selectedDate" />
  <button (click)="submitDayOff()">Dodaj slobodan dan</button>
  <button (click)="toggleDayOffForm()">Odustani</button>

  <button (click)="fetchAllDaysOff()">Prikaži sve slobodne dane</button>
  <div *ngIf="daysOff.length > 0" class="day-off-list">
    <h3>Neradni dani:</h3>
    <ul>
      <li *ngFor="let day of daysOff">{{ day }}</li>
    </ul>
  </div>
</div>

<div *ngIf="showAppointmentForm">
  <app-dentist-schedule [dentistId]="dentist.id" [patients]="patients" (appointmentScheduled)="onAppointmentScheduled($event)"  (appointmentCanceled)="onApointmentCanceled()"></app-dentist-schedule>
</div>

<!-- <div *ngIf="showAppointments" class="showAppointments"> -->
  <div *ngIf="!showAppointmentForm&&!showDayOffForm" class="showAppointments">
  <!-- <button (click)="toggleAppointmentsHistory()">Vrati se na profil</button> -->
  <app-dentist-appointment *ngIf="dentist" [appointmentIds]="dentist.predstojeciPregledi"
    (appointmentsUpdated)="onAppointmentsUpdated($event)"></app-dentist-appointment>
</div>