.home-container {
  font-family: Arial, sans-serif;
  padding: 0px;
  margin: 0 auto;
  display: flex;
  transform: scale(0.85);
  transform-origin: top left;
  width: 150%;
}


.profile-container {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  height: 100%;
}

.profile-image {
  text-align: center;
  margin-bottom: 20px;
}

.profile-image img {
  cursor: pointer;
  transition: border-color 0.3s ease;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.profile-image img:hover {
  border-color: #2980b9;
}

.profile-image button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-image button:hover {
  background-color: #2980b9;
}

.profile-container p {
  margin: 10px 0;
  color: #34495e;
}

.profile-container strong {
  color: #2c3e50;
}

.custom-edit-button {
  cursor: pointer;
  margin-left: 10px;
  color: #3498db;
  transition: color 0.3s ease;
}

.custom-edit-button:hover {
  color: #2980b9;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  height: 30px;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px 0;
}

button:hover {
  background-color: #2980b9;
}

button.error {
  background-color: #e74c3c;
}

button.error:hover {
  background-color: #c0392b;
}

.day-off-form {
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  background-color: white;
  height: fit-content;
}

.day-off-form label {
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
  color: #555;
}

.payment-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.payment-form label {
  display: block;
  margin-bottom: 10px;
  color: #2c3e50;
}

.payment-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
}

.payment-form button {
  background-color: #27ae60;
}

.payment-form button:hover {
  background-color: #219653;
}

.payment-form button:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

p strong {
  color: #2c3e50;
}

p strong.error {
  color: #e74c3c;
}

app-patient-appointments {
  margin-top: 20px;
}

app-schedule-appointment {
  margin-top: 20px;
}
.edit{
  display: flex;
}

