<div class="home-container">
    <div class="row">
        <div *ngFor="let intervencija of interventionsList; let i = index" class="appointment">
            <label>
                <span>{{ intervencija.naziv }} - {{ intervencija.cena }} din
                    <i class="custom-edit-button" (click)="togglePriceChange(i)">✎</i>
                </span>

                <div class="price-container">
                    <input *ngIf="intervencija.selected" [(ngModel)]="intervencija.cena" type="number"
                        class="price-input" placeholder="Unesite novu cenu" />
                    <i *ngIf="intervencija.selected" class="confirm-icon"
                        (click)="saveChanges(intervencija.id, intervencija.cena)">✔️</i>
                </div>
            </label>
            <button (click)="deleteIntervention(intervencija.id)" class="delete-button">Obriši</button>
        </div>
    </div>
    <div class="new-intervention-form">
        <input type="text" [(ngModel)]="newIntervention.naziv" placeholder="Naziv intervencije" />
        <input type="number" [(ngModel)]="newIntervention.cena" placeholder="Cena" />
        <button (click)="addNewIntervention()" class="add-button">Dodaj novu intervenciju</button>
    </div>
</div>