<div class="register-container">
  <h2>Registracija</h2>
  <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
    <input type="text" id="ime" [(ngModel)]="registrationModel.ime" name="ime" placeholder="Ime" required />
    <div *ngIf="registerForm.submitted && !registerForm.controls['ime'].valid" class="error">
      Ime je obavezno.
    </div>

    <input type="text" id="prezime" [(ngModel)]="registrationModel.prezime" name="prezime" placeholder="Prezime" required />
    <div *ngIf="registerForm.submitted && !registerForm.controls['prezime'].valid" class="error">
      Prezime je obavezno.
    </div>

    <input type="text" id="adresa" [(ngModel)]="registrationModel.adresa" name="adresa" placeholder="Adresa" required />
    <div *ngIf="registerForm.submitted && !registerForm.controls['adresa'].valid" class="error">
      Adresa je obavezna.
    </div>

    <input type="number" id="brojTelefona" [(ngModel)]="registrationModel.brojTelefona" name="brojTelefona" placeholder="Broj telefona" required />
    <div *ngIf="registerForm.submitted && !registerForm.controls['brojTelefona'].valid" class="error">
      Broj telefona je obavezan.
    </div>

    <select id="specijalizacija" [(ngModel)]="registrationModel.specijalizacija" name="specijalizacija" required>
      <option value="" disabled selected>Specijalizacija</option>
      <option *ngFor="let spec of specializations" [value]="spec.id">
        {{ spec.name }}
      </option>
    </select>
    <div *ngIf="registerForm.submitted && !registerForm.controls['specijalizacija'].valid" class="error">
      Specijalizacija je obavezna.
    </div>

    <input type="email" id="email" [(ngModel)]="registrationModel.email" name="email" placeholder="Email" required email />
    <div *ngIf="registerForm.submitted && !registerForm.controls['email'].valid" class="error">
      Unesite ispravnu email adresu.
    </div>

    <input type="password" id="password" [(ngModel)]="registrationModel.password" name="password" placeholder="Lozinka" required minlength="6" />
    <div *ngIf="registerForm.submitted && !registerForm.controls['password'].valid" class="error">
      Lozinka mora imati najmanje 6 karaktera.
    </div>

    <button type="submit">Registracija</button>
  </form>
</div>
