<div class="register-container">
  <h2>Registrujte se i pridružite našoj zajednici</h2>
  <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
    <input
      type="text"
      placeholder="Ime"
      id="ime"
      [(ngModel)]="registrationModel.ime"
      name="ime"
      required
      autocomplete="off"
    />
    <div
      *ngIf="registerForm.submitted && !registerForm.controls['ime']?.valid"
      class="error-message"
    >
      Ime je obavezno.
    </div>

    <input
      type="text"
      placeholder="Prezime"
      id="prezime"
      [(ngModel)]="registrationModel.prezime"
      name="prezime"
      required
      autocomplete="off"
    />
    <div
      *ngIf="registerForm.submitted && !registerForm.controls['prezime']?.valid"
      class="error-message"
    >
      Prezime je obavezno.
    </div>

    <div class="form-group">
      <label for="datumRodjenja">Datum rodjenja:</label>
      <input
        type="date"
        placeholder="Datum rođenja"
        id="datumRodjenja"
        [(ngModel)]="registrationModel.datumRodjenja"
        name="datumRodjenja"
        required
      />
      <div
        *ngIf="
          registerForm.submitted &&
          !registerForm.controls['datumRodjenja']?.valid
        "
        class="error-message"
      >
        Datum rođenja je obavezan.
      </div>
    </div>

    <input
      type="text"
      placeholder="Adresa"
      id="adresa"
      [(ngModel)]="registrationModel.adresa"
      name="adresa"
      required
      autocomplete="off"
    />
    <div
      *ngIf="registerForm.submitted && !registerForm.controls['adresa']?.valid"
      class="error-message"
    >
      Adresa je obavezna.
    </div>

    <input
      type="number"
      placeholder="Broj telefona"
      id="brojTelefona"
      [(ngModel)]="registrationModel.brojTelefona"
      name="brojTelefona"
      required
      autocomplete="off"
    />
    <div
      *ngIf="
        registerForm.submitted && !registerForm.controls['brojTelefona']?.valid
      "
      class="error-message"
    >
      Broj telefona je obavezan.
    </div>

    <input
      type="email"
      placeholder="Email"
      id="email"
      [(ngModel)]="registrationModel.email"
      name="email"
      required
      email
      autocomplete="off"
    />
    <div
      *ngIf="registerForm.submitted && !registerForm.controls['email']?.valid"
      class="error-message"
    >
      Unesite ispravnu email adresu.
    </div>

    <input
      type="password"
      placeholder="Lozinka"
      id="password"
      [(ngModel)]="registrationModel.password"
      name="password"
      required
      minlength="6"
    />
    <div
      *ngIf="
        registerForm.submitted && !registerForm.controls['password']?.valid
      "
      class="error-message"
    >
      Lozinka mora imati najmanje 6 karaktera.
    </div>

    <button type="submit" class="btn-submit">Registracija</button>
  </form>
</div>
