<div class="appointments-container">


<div *ngIf="unconfirmedAppointments.length > 0" class="row">
  <h3>Nepotvrđeni pregledi</h3>
  <ng-container *ngFor="let pregled of unconfirmedAppointments">
      <div class="appointment">

          <p><strong>Datum:</strong> {{ formatDate(pregled.datum) }}</p>
          <p><strong>Opis:</strong> {{ pregled.opis }}</p>
          <button (click)="cancelAppointment(pregled.id)">Otkaži pregled</button>
      </div>
  </ng-container>
</div>
<div *ngIf="unconfirmedAppointments.length == 0" class="row">
  <h3>Svi pregledi su preuzeti od strane nekog stomatologa.</h3>
</div>
</div>