<div class="appointments-container">
  <h3>Prošli pregledi</h3>
  <div class="row">
    <ng-container *ngFor="let pregled of pregledList">
      <div *ngIf="pregled.status === 1" class="appointment">
        <!-- <p><strong>Datum:</strong> {{ pregled.datum | date : "short" }}</p> -->
        <p><strong>Datum:</strong> {{ formatDate(pregled.datum) }}</p>
        <p><strong>Opis:</strong> {{ pregled.opis }}</p>
        <p><strong>Stomatolog:</strong> {{ pregled.imeStomatologa }}</p>
        <button (click)="deletePregled(pregled.id)">Obriši pregled</button>
        <button (click)="openUpdateForm(pregled.id, pregled.status)">Izmeni opis</button>
      </div>
    </ng-container>
    <div *ngIf="isUpdateFormVisible1" class="update-form-container">
      <h3>Ažuriraj Pregled</h3>
      <form (ngSubmit)="updatePregled()">
        <!-- <label for="datum">Datum:</label>
      <input id="datum" type="date" [(ngModel)]="updateForm.datum" name="datum" required [min]="today" 
        (change)="loadAvailableTimeSlots(stomatolog.id, updateForm.datum)" />
  
      <label for="vreme">Vreme:</label>
      <select id="vreme" [(ngModel)]="updateForm.vreme" name="vreme" required>
        <option *ngFor="let timeSlot of availableTimeSlots" [value]="timeSlot">{{ timeSlot }}</option>
      </select> -->
        <label for="opis">Opis:</label>
        <textarea id="opis" [(ngModel)]="updateForm.opis" name="opis" required></textarea>

        <button type="submit" class="save-button">Sačuvaj</button>
        <button type="button" (click)="isUpdateFormVisible1 = false" class="cancel-button">Otkaži</button>
      </form>
    </div>
  </div>
  <h3>Predstojeći pregledi</h3>
  <div class="row">
    <ng-container *ngFor="let pregled of pregledList">
      <div *ngIf="!pregled">Nemate zakazanih pregleda</div>
      <div *ngIf="pregled.status === 0" class="appointment">
        <!-- <p><strong>Datum:</strong> {{ pregled.datum | date : "short" }}</p> -->
        <p><strong>Datum:</strong> {{ formatDate(pregled.datum) }}</p>
        <p><strong>Opis:</strong> {{ pregled.opis }}</p>
        <p><strong>Stomatolog:</strong> {{ pregled.imeStomatologa }}</p>
        <button (click)="cancelPregled(pregled.id)">Otkaži pregled</button>
        <button (click)="openUpdateForm(pregled.id, pregled.status)">Izmeni opis</button>
      </div>
    </ng-container>
    <div *ngIf="isUpdateFormVisible0" class="update-form-container">
      <h3>Ažuriraj Pregled</h3>
      <form (ngSubmit)="updatePregled()">
        <!-- <label for="datum">Datum:</label>
      <input id="datum" type="date" [(ngModel)]="updateForm.datum" name="datum" required [min]="today" 
        (change)="loadAvailableTimeSlots(stomatolog.id, updateForm.datum)" />
  
      <label for="vreme">Vreme:</label>
      <select id="vreme" [(ngModel)]="updateForm.vreme" name="vreme" required>
        <option *ngFor="let timeSlot of availableTimeSlots" [value]="timeSlot">{{ timeSlot }}</option>
      </select> -->
        <label for="opis">Opis:</label>
        <textarea id="opis" [(ngModel)]="updateForm.opis" name="opis" required></textarea>

        <button type="submit" class="save-button">Sačuvaj</button>
        <button type="button" (click)="isUpdateFormVisible0 = false" class="cancel-button">Otkaži</button>
      </form>
    </div>
  </div>

  <!-- <div class="column">
    <h3>Otkazani pregledi</h3>
    <ng-container *ngFor="let pregled of pregledList">
      <div *ngIf="pregled.status === 2" class="pregled-item upcoming-pregled">
        <p><strong>Datum:</strong> {{ pregled.datum | date : "short" }}</p>
        <p><strong>Opis:</strong> {{ pregled.opis }}</p>
        <p><strong>Stomatolog:</strong> {{ pregled.imeStomatologa }}</p>
      </div>
    </ng-container>
  </div>
</div> -->


</div>