<div class="allAppoitnments">
  <div *ngIf="filteredAppointmentListForToday.length>0" class="appointmentsForToday">
    <div class="row">
      <h3>Vasi pregledi za danasnji dan:</h3>
      <ng-container *ngFor="let pregled of filteredAppointmentListForToday">
        <div class="appointment">
          <p><strong>Datum:</strong> {{ formatDate(pregled.datum) }}</p>
          <p><strong>Opis:</strong> {{ pregled.opis }}</p>
          <p><strong>Pacijent:</strong> {{ pregled.imePacijenta }}</p>
          <button *ngIf="!pregled.naplacen" (click)="toggleCharge(pregled)">
            Naplati pregled
          </button>

        </div>
      </ng-container>
    </div>
  </div>
  <div *ngIf="showCharge" class="row">
    <h3>Izaberite intervencije:</h3>
    <div *ngFor="let intervencija of interventionsList; let i = index" class="appointment">
      <label>
        <input type="checkbox" [(ngModel)]="intervencija.selected" />
        {{ intervencija.naziv }} - {{ intervencija.cena }} din
      </label>

      <input type="number" [(ngModel)]="intervencija.kolicina" [disabled]="!intervencija.selected" min="1" step="1"
        style="width: 60px; margin-left: 10px;" />

    </div>
    <div *ngIf="calculateTotal() > 0" class="total-price">
      <h4>Ukupna cena: {{ calculateTotal() }} din</h4>
      <button (click)="chargeAppointment()">Naplati</button>
    </div>
  </div>

  <div class="appointments-container" *ngIf="!showCharge">
    <input list="pacijenti" [(ngModel)]="selectedPatientName" (input)="onPatientSelected()"
      placeholder="Izaberite ili unesite ime pacijenta" />
    <datalist id="pacijenti">
      <option *ngFor="let pacijent of pacijentList" [value]="pacijent.name + ' - ' + pacijent.email">
        {{ pacijent.name }} - {{ pacijent.email }}
      </option>
    </datalist>

    <h3>Prošli pregledi</h3>
    <p *ngIf="!hasPastAppointments">Ovaj pacijent nema prošlih pregleda kod vas</p>
    <!-- <div class="row" *ngIf="hasPastAppointments">
      <ng-container *ngFor="let pregled of filteredAppointmentList">
        <div *ngIf="pregled.status === 1" class="appointment">
          <p><strong>Datum:</strong> {{ formatDate(pregled.datum) }}</p>
          <p><strong>Opis:</strong> {{ pregled.opis }}</p>
          <p><strong>Pacijent:</strong> {{ pregled.imePacijenta }}</p>
          <button (click)="deleteAppointment(pregled.id)">Obriši pregled</button>
          <button *ngIf="!pregled.naplacen" (click)="toggleCharge(pregled)">Naplati pregled </button>
        </div>
      </ng-container>
    </div> -->
    <div class="row" *ngIf="hasPastAppointments">
      <ng-container *ngFor="let pregled of filteredAppointmentList">
        <div *ngIf="pregled.status === 1" class="appointment">
          <p><strong>Datum:</strong> {{ formatDate(pregled.datum) }}</p>
          <p><strong>Opis:</strong> {{ pregled.opis }}</p>
          <p><strong>Pacijent:</strong> {{ pregled.imePacijenta }}</p>
          <div *ngIf="pregled.naplacen">
            <p><strong>Intervencije:</strong></p>
            <ul>
              <li *ngFor="let intervencija of pregled.intervencije">
                {{ intervencija.naziv }} - {{ intervencija.cena }} din x {{ intervencija.kolicina }}
              </li>
            </ul>
            <p><strong>Ukupna cena:</strong> {{ pregled.ukupnaCena }} din</p>
          </div>
          <button *ngIf="!pregled.naplacen" (click)="deleteAppointment(pregled.id)">Obriši pregled</button>
          <button *ngIf="!pregled.naplacen" (click)="toggleCharge(pregled)">Naplati pregled</button>
        </div>
      </ng-container>
    </div>
    
    <h3>Predstojeći pregledi</h3>
    <p *ngIf="!hasUpcomingAppointments">Ovaj pacijent nema zakazanih pregleda kod vas</p>
    <div class="row" *ngIf="hasUpcomingAppointments">
      <ng-container *ngFor="let pregled of filteredAppointmentList">
        <div *ngIf="pregled.status === 0" class="appointment">
          <p><strong>Datum:</strong> {{ formatDate(pregled.datum) }}</p>
          <p><strong>Opis:</strong> {{ pregled.opis }}</p>
          <p><strong>Pacijent:</strong> {{ pregled.imePacijenta }}</p>
          <button (click)="cancelAppointment(pregled.id)">Otkaži pregled</button>
        </div>
      </ng-container>
    </div>
  </div>
</div>