<div class="allAppoitnments">
  <div class="appointmentsForToday">
    <h3>Danasnji pregledi</h3>
    <div class="row">
      <h3>Vasi pregledi za danasnji dan:</h3>
      <ng-container *ngFor="let pregled of filteredAppointmentListForToday">
        <div class="appointment">
          <p><strong>Datum:</strong> {{ formatDate(pregled.datum) }}</p>
          <p><strong>Opis:</strong> {{ pregled.opis }}</p>
          <p><strong>Pacijent:</strong> {{ pregled.imePacijenta }}</p>
          <!-- <button (click)="deletePregled(pregled.id)">Otkazi pregled</button> -->
        </div>
      </ng-container>
    </div>
  </div>
  <div class="appointments-container">
    <!-- <input list="pacijenti" [(ngModel)]="selectedPatientId" (input)="filterAppointmentsByPatientName()"
      placeholder="Izaberite ili unesite ime pacijenta" />
    <datalist id="pacijenti">
      <option *ngFor="let pacijent of pacijentList" [value]="pacijent.id ">{{pacijent.email}}</option>
    </datalist> -->

    <input list="pacijenti" [(ngModel)]="selectedPatientName" (input)="onPatientSelected()"
      placeholder="Izaberite ili unesite ime pacijenta" />
    <datalist id="pacijenti">
      <option *ngFor="let pacijent of pacijentList" [value]="pacijent.name + ' - ' + pacijent.email">
        {{ pacijent.name }} - {{ pacijent.email }}
      </option>
    </datalist>


    <h3>Prošli pregledi</h3>
    <p *ngIf="!hasPastAppointments">Ovaj pacijent nema prošlih pregleda kod vas</p>
    <div class="row" *ngIf="hasPastAppointments">
      <ng-container *ngFor="let pregled of filteredAppointmentList">
        <div *ngIf="pregled.status === 1" class="appointment">
          <p><strong>Datum:</strong> {{ formatDate(pregled.datum) }}</p>
          <p><strong>Opis:</strong> {{ pregled.opis }}</p>
          <p><strong>Pacijent:</strong> {{ pregled.imePacijenta }}</p>
          <button (click)="deletePregled(pregled.id)">Obriši pregled</button>
        </div>
      </ng-container>
    </div>
    <h3>Predstojeći pregledi</h3>
    <p *ngIf="!hasUpcomingAppointments">Ovaj pacijent nema zakazanih pregleda kod vas</p>
    <div class="row" *ngIf="hasUpcomingAppointments">
      <ng-container *ngFor="let pregled of filteredAppointmentList">
        <div *ngIf="pregled.status === 0" class="appointment">
          <p><strong>Datum:</strong> {{ formatDate(pregled.datum) }}</p>
          <p><strong>Opis:</strong> {{ pregled.opis }}</p>
          <p><strong>Pacijent:</strong> {{ pregled.imePacijenta }}</p>
          <button (click)="deletePregled(pregled.id)">Otkaži pregled</button>
        </div>
      </ng-container>
    </div>
  </div>
</div>