<div class="allAppoitnments">
  <div *ngIf="filteredAppointmentListForToday.length>0" class="appointmentsForToday">

  </div>
  <div *ngIf="showCharge" class="interventions">
    <button class="closeChargeBtn" (click)="closeCharge()">Vrati se nazad</button>
    <div class="row">
      <h3>Izaberite intervencije:</h3>
      <div *ngFor="let intervencija of interventionsList; let i = index" class="appointment">
        <label>
          <input type="checkbox" [(ngModel)]="intervencija.selected" />
          {{ intervencija.naziv }} - {{ intervencija.cena }} din
        </label>
        <br>
        <input type="number" [(ngModel)]="intervencija.kolicina" [disabled]="!intervencija.selected" min="1" step="1"
          style="width: 50px; margin-left: 12px;margin-right: 12px; margin-top: 5px; margin-bottom: 5px;border: 1px solid darkgray; justify-self: center;" />

      </div>
      <div *ngIf="calculateTotal() > 0" class="total-price">
        <h4>Ukupna cena: {{ calculateTotal() }} din</h4>
        <button (click)="chargeAppointment()">Naplati</button>
      </div>
    </div>
  </div>

  <div class="appointments-container" *ngIf="!showCharge">
    <div class="row">
      <h3>Vasi pregledi za danasnji dan:</h3>
      <ng-container *ngFor="let pregled of filteredAppointmentListForToday">

        <div class="appointment">
          <p><strong>Datum:</strong> {{ formatDate(pregled.datum) }}</p>
          <p><strong>Opis:</strong> {{ pregled.opis }}</p>
          <p><strong>Pacijent:</strong> {{ pregled.imePacijenta }}</p>
          <p><strong>Email:</strong> {{ pregled.emailPacijenta }}</p>
          <p><strong>Broj telefona:</strong> {{pregled.brojPacijenta }}</p>
          <div class="buttons">
            <button *ngIf="!pregled.naplacen" (click)="toggleCharge(pregled)">
              Naplati pregled
            </button>
            <button *ngIf="!pregled.naplacen" (click)="deleteAppointment(pregled.id,pregled.idPacijenta)">Pregled
              neodradjen</button>
          </div>
        </div>
      </ng-container>
      <h2 *ngIf="filteredAppointmentListForToday.length==0">Nemate zakazanih pregleda za danas.</h2>
    </div>
    <input id="unosPacijenta" list="pacijenti" [(ngModel)]="selectedPatientName" (input)="onPatientSelected()"
      placeholder="Izaberite ili unesite ime pacijenta" />
    <datalist id="pacijenti">
      <option *ngFor="let pacijent of pacijentList" [value]="pacijent.name + ' - ' + pacijent.email">
        {{ pacijent.name }} - {{ pacijent.email }}
      </option>
    </datalist>
    <div *ngIf="selectedPatientDetails">
      <h3>Podaci o pacijentu:</h3>
      <div class="info">
        <div class="info-div">
          <p><strong>Ime:</strong> {{ selectedPatientDetails.ime }} {{ selectedPatientDetails.prezime
            }}({{selectedPatientDetails.godine}})</p>
          <p><strong>Email:</strong> {{ selectedPatientDetails.email }}</p>
          <p><strong>Broj telefona:</strong> {{ selectedPatientDetails.brojTelefona }}</p>
        </div>
        <br>
        <div class="info-div">
          <p><strong>Ukupno potroseno:</strong> {{ selectedPatientDetails.ukupnoPotroseno|currency:'RSD '}}</p>
          <p><strong>Dugovanje:</strong> {{ selectedPatientDetails.dugovanje|currency:'RSD '}}</p>
          <p><strong>Propušteni pregledi:</strong> {{ selectedPatientDetails.brojNedolazaka}}</p>
        </div>
      </div>
    </div>
    <!--     
    <div *ngIf="selectedPatientDetails">
      <h3>Podaci o pacijentu:</h3>
      <div class="row">
        <div>
          <p><strong>Ime:</strong> {{ selectedPatientDetails.ime }} {{ selectedPatientDetails.prezime }}</p>
          <p><strong>Email:</strong> {{ selectedPatientDetails.email }}</p>
          <p><strong>Broj telefona:</strong> {{ selectedPatientDetails.brojTelefona }}</p>
          <p><strong>Ukupno potroseno:</strong> {{ selectedPatientDetails.ukupnoPotroseno|currency:'RSD '}}</p>
          <p><strong>Dugovanje:</strong> {{ selectedPatientDetails.dugovanje|currency:'RSD '}}</p>
          <p><strong>Propušteni pregledi:</strong> {{ selectedPatientDetails.brojNedolazaka}}</p>
        </div>
      </div>
    </div> -->


    <h3 (click)="toggleUpcomingAppointments()" style="cursor: pointer; display: flex; align-items: center;">
      Predstojeći pregledi
      <span [ngClass]="{'arrow-up': showUpcomingAppointments, 'arrow-down': !showUpcomingAppointments}"
        style="margin-left: 10px;">
        ▼
      </span>
    </h3>


    <p *ngIf="!hasUpcomingAppointments && showUpcomingAppointments">Ovaj pacijent nema zakazanih pregleda kod vas</p>

    <div class="row" *ngIf="hasUpcomingAppointments && showUpcomingAppointments">
      <ng-container *ngFor="let pregled of filteredAppointmentList">
        <div *ngIf="pregled.status === 0" class="appointment">
          <p><strong>Datum:</strong> {{ formatDate(pregled.datum) }}</p>
          <p><strong>Opis:</strong> {{ pregled.opis }}</p>
          <p><strong>Pacijent:</strong> {{ pregled.imePacijenta }}</p>
          <button (click)="cancelAppointment(pregled.id)">Otkaži pregled</button>
        </div>
      </ng-container>
    </div>

    <h3 (click)="togglePastAppointments()" style="cursor: pointer;">
      Prošli pregledi
      <span [ngClass]="{'arrow-down': !showPastAppointments, 'arrow-up': showPastAppointments}"> ▼ </span>
    </h3>
    <p *ngIf="!hasPastAppointments && showPastAppointments">Ovaj pacijent nema prošlih pregleda kod vas</p>
    <div class="row" *ngIf="hasPastAppointments && showPastAppointments">
      <ng-container *ngFor="let pregled of filteredAppointmentList">
        <div *ngIf="pregled.status === 1" class="appointment">
          <p><strong>Datum:</strong> {{ formatDate(pregled.datum) }}</p>
          <p><strong>Opis:</strong> {{ pregled.opis }}</p>
          <p><strong>Pacijent:</strong> {{ pregled.imePacijenta }}</p>
          <div *ngIf="pregled.naplacen">
            <p><strong>Intervencije:</strong></p>
            <ul>
              <li *ngFor="let intervencija of pregled.intervencije">
                {{ intervencija.naziv }} - {{ intervencija.cena }} din x {{ intervencija.kolicina }}
              </li>
            </ul>
            <p><strong>Ukupna cena:</strong> {{ pregled.ukupnaCena }} din</p>
          </div>
          <div class="buttons">
            <button *ngIf="!pregled.naplacen" (click)="toggleCharge(pregled)">
              Naplati pregled
            </button>
            <button *ngIf="!pregled.naplacen" (click)="deleteAppointment(pregled.id,pregled.idPacijenta)">Pregled
              neodradjen</button>
          </div>
        </div>
      </ng-container>
    </div>


  </div>
</div>