<div *ngIf="unconfirmedAppointments.length > 0" class="row">
    <h3>Nepotvrđeni pregledi</h3>
    <ng-container *ngFor="let pregled of unconfirmedAppointments">
        <div class="unconfirmed">
            <p><strong>Datum:</strong> {{ formatDate(pregled.datum) }}</p>
            <p><strong>Opis:</strong> {{ pregled.opis }}</p>
            <p><strong>Pacijent:</strong> {{ pregled.imePacijenta }}</p>
            <button (click)="takeAppointment(pregled.id)">Preuzmi pregled</button>
        </div>
    </ng-container>
</div>
<div *ngIf="unconfirmedAppointments.length == 0" class="center">
    <h3>Svi pregledi su preuzeti od strane nekog stomatologa.</h3>
</div>