.home-container {
    width: 95%;
    margin: 20px ;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-wrap: wrap;
  }
  
  .home-container h3 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  
  li {
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    width: calc(25% - 20px);
    box-sizing: border-box;
    /* max-width: 500px; */
    min-width: 300px; 
  }
  
  li:hover {
    background-color: #f1f1f1;
  }
  
  .dentist-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
  }
  
  button {
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    transform: scale(0.98);
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  strong {
    color: #555;
    font-size: 18px;
    text-align: center; 
  }
  
  .appointment-form, .comment-form {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .appointment-form h4, .comment-form h4 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .appointment-form label, .comment-form label {
    display: block;
    margin: 8px 0 4px;
    font-weight: bold;
    color: #555;
  }
  
  .appointment-form input, .appointment-form select, .appointment-form textarea,
  .comment-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  .comment-form textarea {
    resize: vertical;
    min-height: 80px;
  }
  
  .star {
    cursor: pointer;
    font-size: 24px;
    color: gray;
    transition: color 0.3s;
  }
  
  .star.selected {
    color: gold;
  }
  .day-off-form label {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
    color: #555;
  }
  
  .disabled-day {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
  }
   .error{
    color: red;
   }

   .filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .filter-container label {
    font-weight: bold;
    color: #555;
    font-size: 16px;
  }
  
  #specijalizacija {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    width: 250px;
    max-width: 100%;
  }
  
  #specijalizacija:hover {
    border-color: #007bff;
    background-color: #e9f1ff;
  }
  
  #specijalizacija:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  }
  
