<div class="dentist-management-container">
  <div class="day-off" *ngIf="activeDentist">
    <button (click)="resetActiveDentist()" class="back-button">Sakrij neradne dane</button>
    <div class="first-div ">
      <div>
        <h2>{{ activeDentist.ime }} {{ activeDentist.prezime }}</h2>
        <img [src]="getImageUrl(activeDentist.slika)" alt="Profilna slika" class="dentist-image" />
      </div>
      <div *ngIf="showDayOff[activeDentist.id]" class="add-day-off">
        <h3>Dodaj neradne dane</h3>
        <label for="datum-start">Početni datum:</label>
        <input type="date" id="datum-start" [(ngModel)]="selectedDateStart[activeDentist.id]" [min]="getTodayDate()" />

        <label for="datum-end">Krajnji datum:</label>
        <input type="date" id="datum-end" [(ngModel)]="selectedDateEnd[activeDentist.id]"
          [min]="selectedDateStart[activeDentist.id]" />

        <button (click)="submitDayOff(activeDentist.id)">Dodaj neradne dane</button>
      </div>
    </div>
    <div *ngIf="showDayOff[activeDentist.id]" class="day-off-list">
      <h3>Neradni dani:</h3>
      <ul class="days-off-list">
        <li *ngFor="let day of daysOffMap[activeDentist.id]" class="day-off-item">{{ day }}</li>
      </ul>
      <div class="day-off-summary">
        <p>Ukupan broj neradnih dana u ovoj godini: {{ countCurrentYearDaysOff(activeDentist.id) }}</p>
      </div>
    </div>
  </div>

  <div class="dentist-details">
 <div class="header">
  <h3>Naši stomatolozi</h3>
 </div>
    <div class="dentist-list">
      <div class="header-btn">
        <button (click)="navigateToRegisterDentist()">Dodaj novog stomatologa</button>
      </div>

      <div>
        <h4 (click)="toggleShift('prvaSmena')">
          Prva smena:
          <span [ngClass]="showPrvaSmena ? 'arrow-down' : 'arrow-left'">⮝</span>
        </h4>
        <ul *ngIf="showPrvaSmena">
          <li *ngFor="let stomatolog of stomatoloziPrvaSmena">
            <strong>{{ stomatolog.ime }} {{ stomatolog.prezime }}</strong>
            <br />
            <img [src]="getImageUrl(stomatolog.slika)" alt="Profilna slika" class="dentist-image" />
            Specijalizacija: {{ getSpecijalizacijaLabel(stomatolog.specijalizacija) }} <br />
            Adresa: {{ stomatolog.adresa }}<br />
            Email: {{ stomatolog.email }}<br />
            Telefon: {{ stomatolog.brojTelefona }}<br />
            Smena: Prva<br />
            Broj odradjenih pregleda ove godine: {{ stomatolog.brojPregleda }}
            <div class="buttons">


              <button (click)="fetchAllDaysOff(stomatolog.id)">Prikaži sve neradne dane</button>
              <button (click)="changeShift(stomatolog.id)">Promeni smenu</button>
              <button (click)="deleteDentist(stomatolog.id)" class="delete">Obriši</button>
            </div>
          </li>
        </ul>
      </div>

      <div>
        <h4 (click)="toggleShift('drugaSmena')">
          Druga smena:
          <span [ngClass]="showDrugaSmena ? 'arrow-down' : 'arrow-left'">⮝</span>
        </h4>
        <ul *ngIf="showDrugaSmena">
          <li *ngFor="let stomatolog of stomatoloziDrugaSmena">
            <strong>{{ stomatolog.ime }} {{ stomatolog.prezime }}</strong>
            <br />
            <img [src]="getImageUrl(stomatolog.slika)" alt="Profilna slika" class="dentist-image" />
            Specijalizacija: {{ getSpecijalizacijaLabel(stomatolog.specijalizacija) }} <br />
            Adresa: {{ stomatolog.adresa }}<br />
            Email: {{ stomatolog.email }}<br />
            Telefon: {{ stomatolog.brojTelefona }}<br />
            Smena: Druga<br />
            Broj odradjenih pregleda ove godine: {{ stomatolog.brojPregleda }}
            <div class="buttons">
            <button (click)="fetchAllDaysOff(stomatolog.id)">Prikaži sve neradne dane</button>
            <button (click)="changeShift(stomatolog.id)">Promeni smenu</button>
            <button (click)="deleteDentist(stomatolog.id)" class="delete">Obriši</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>